@font-face {
  font-family: 'ubuntu';
  src: url('fonts/ubuntu-bold-webfont.woff2') format('woff2'),
       url('fonts/ubuntu-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu';
  src: url('fonts/ubuntu-bolditalic-webfont.woff2') format('woff2'),
       url('fonts/ubuntu-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'ubuntu';
  src: url('fonts/ubuntu-italic-webfont.woff2') format('woff2'),
       url('fonts/ubuntu-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'ubuntu';
  src: url('fonts/ubuntu-light-webfont.woff2') format('woff2'),
       url('fonts/ubuntu-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu';
  src: url('fonts/ubuntu-lightitalic-webfont.woff2') format('woff2'),
       url('fonts/ubuntu-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'ubuntu';
  src: url('fonts/ubuntu-medium-webfont.woff2') format('woff2'),
       url('fonts/ubuntu-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu';
  src: url('fonts/ubuntu-mediumitalic-webfont.woff2') format('woff2'),
       url('fonts/ubuntu-mediumitalic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'ubuntu';
  src: url('fonts/ubuntu-regular-webfont.woff2') format('woff2'),
       url('fonts/ubuntu-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

html * {
  box-sizing: border-box;
}

body {
  font-family: ubuntu, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  background-color: #f0f0f0;
  color: #454545;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
}

li {
  margin-top: 10px;
}

a.btn {
  line-height: 36px;
  display: inline-block;
  padding: 0 10px;
  color: #454545 !important;
  text-decoration: none;
  background-color: #fff;
  border-radius: 4px;
  outline: none;
}

button {
  height: 36px;
  padding: 0 10px;
  border: 0;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  color: #454545;
}

button.master {
  background-color: #c6ff55;
}

button.master:disabled {
  background-color: #ddff9a;
  color: #999;
}

section {
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

section.even {
  background-image: url('./imgs/rust-lang.png');
  background-repeat: no-repeat;
  background-position: center -104px;
}

section.odd {
  background-image: linear-gradient(#213359, #009aaa);
  color: #fff;
}

section.odd a {
  color: #fff;
}

section.first-screen {
  justify-content: space-around;
}

header {
  position: absolute;
  top: -30px;
  width: 650px;
  left: 50%;
  margin-left: -325px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ss-github {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='octicon octicon-mark-github v-align-middle' height='32' viewBox='0 0 16 16' version='1.1' width='32' aria-hidden='true'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z'%3E%3C/path%3E%3C/svg%3E");
}

.ss-serverless {
  display: block;
  width: 128px;
  height: 128px;
  background-image: url("data:image/svg+xml,%0A%3Csvg id='图层_1' data-name='图层 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 566.93 566.93'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%232ea7e0;%7D.cls-2%7Bfill:%23036eb8;%7D.cls-3%7Bfill:none;%7D.cls-4%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cpolygon class='cls-1' points='425.35 275.96 461.18 265.92 468.76 253.08 477.76 253.08 483.24 255.66 484.44 254.34 486.42 254.34 488.13 252.62 487.02 251.5 473.69 238.18 478.26 229.16 477.27 229.16 474.4 232.33 476 229.16 475.06 229.16 465.06 239.17 465.06 243.2 457.55 256.61 407.9 251.02 361.93 273.37 278.73 280.21 366.16 280.21 394.38 271.96 413.31 298.49 413.31 322.65 449.45 346.36 418.51 321.15 425.35 275.96'/%3E%3Cpolygon class='cls-2' points='430.19 281.74 447.88 274.42 447.88 282.96 438.28 292.92 451.06 285.02 454.02 271.88 462.72 268.29 468.76 253.08 461.18 265.92 425.35 275.96 418.51 321.15 449.45 346.36 421.8 320.69 430.19 281.74'/%3E%3Cpath class='cls-3' d='M239.61,232.59a3.32,3.32,0,0,0-3.32-3.32H231v6.65h5.29A3.32,3.32,0,0,0,239.61,232.59Z'/%3E%3Cpath class='cls-3' d='M155.45,232.59a3.32,3.32,0,0,0-3.32-3.32h-5.29v6.65h5.29A3.32,3.32,0,0,0,155.45,232.59Z'/%3E%3Cpolygon class='cls-4' points='179.87 240.73 175.35 220.57 166.72 220.57 175.55 259.98 184.18 259.98 193.01 220.57 184.38 220.57 179.87 240.73'/%3E%3Cpath class='cls-4' d='M96.3,235.92H90.83a3.32,3.32,0,1,1,0-6.64h10.69v-8.71H90.83a12,12,0,0,0,0,24.06H96.3a3.33,3.33,0,1,1,0,6.65H82.17l2,8.7H96.3a12,12,0,0,0,0-24.06Z'/%3E%3Cpath class='cls-4' d='M320.69,235.92h-5.48a3.32,3.32,0,1,1,0-6.64H325.9v-8.71H315.21a12,12,0,1,0,0,24.06h5.48a3.33,3.33,0,0,1,0,6.65H306.55l1.95,8.7h12.19a12,12,0,0,0,0-24.06Z'/%3E%3Cpath class='cls-4' d='M164.16,232.59a12,12,0,0,0-12-12H138V260h8.84V244.62h5.24L155.52,260h8.64L160,241.63A12,12,0,0,0,164.16,232.59Zm-17.32-3.32h5.29a3.33,3.33,0,0,1,0,6.65h-5.29Z'/%3E%3Cpolygon class='cls-4' points='112.75 220.57 112.75 259.98 112.75 259.98 130.21 259.98 130.21 251.14 121.59 251.14 121.59 244.7 130.21 244.7 130.21 235.85 121.59 235.85 121.59 229.41 130.21 229.41 130.21 220.57 112.75 220.57 112.75 220.57'/%3E%3Cpolygon class='cls-4' points='281.29 220.57 281.29 259.98 281.29 259.98 298.75 259.98 298.75 251.14 290.13 251.14 290.13 244.7 298.75 244.7 298.75 235.85 290.13 235.85 290.13 229.41 298.75 229.41 298.75 220.57 281.29 220.57 281.29 220.57'/%3E%3Cpolygon class='cls-4' points='196.91 220.57 196.91 259.98 196.91 259.98 214.37 259.98 214.37 251.14 205.75 251.14 205.75 244.7 214.37 244.7 214.37 235.85 205.75 235.85 205.75 229.41 214.37 229.41 214.37 220.57 196.91 220.57 196.91 220.57'/%3E%3Cpolygon class='cls-4' points='264.95 220.57 256.11 220.57 256.11 220.57 256.11 259.98 256.11 259.98 273.57 259.98 273.57 251.14 264.95 251.14 264.95 220.57'/%3E%3Cpath class='cls-4' d='M248.32,232.59a12,12,0,0,0-12-12H222.16V260H231V244.62h5.24L239.68,260h8.64l-4.12-18.35A12,12,0,0,0,248.32,232.59ZM231,229.27h5.29a3.33,3.33,0,0,1,0,6.65H231Z'/%3E%3Cpath class='cls-4' d='M350.77,235.92h-5.48a3.32,3.32,0,1,1,0-6.64H356v-8.71h-10.7a12,12,0,0,0,0,24.06h5.48a3.33,3.33,0,1,1,0,6.65H336.64l1.95,8.7h12.18a12,12,0,1,0,0-24.06Z'/%3E%3Cpath class='cls-4' d='M241.37,300.52a3.13,3.13,0,0,1-1.43-.29,2.2,2.2,0,0,1-.88-.73h0v.63a.17.17,0,0,1-.18.19h-2.18a.17.17,0,0,1-.18-.19v-12a.16.16,0,0,1,.18-.18h2.18a.16.16,0,0,1,.18.18v4.2h0a2.31,2.31,0,0,1,.88-.74,3.28,3.28,0,0,1,1.43-.28,3.22,3.22,0,0,1,1.87.53,3,3,0,0,1,1.11,1.58,6.61,6.61,0,0,1,.24,1.07,14.34,14.34,0,0,1,0,2.83,6.5,6.5,0,0,1-.24,1.08,3,3,0,0,1-1.11,1.57A3.15,3.15,0,0,1,241.37,300.52Zm-.82-2.15a1.3,1.3,0,0,0,1.37-.94,2.46,2.46,0,0,0,.12-.59,10.6,10.6,0,0,0,0-1.84,2.46,2.46,0,0,0-.12-.59,1.28,1.28,0,0,0-1.37-.94,1.26,1.26,0,0,0-1.34.94,3,3,0,0,0-.13.59c0,.23,0,.53,0,.92s0,.69,0,.92a3,3,0,0,0,.13.59A1.27,1.27,0,0,0,240.55,298.37Z'/%3E%3Cpath class='cls-4' d='M246.91,303.59c-.12,0-.18-.06-.18-.19v-1.78a.16.16,0,0,1,.18-.18h.38a1.25,1.25,0,0,0,.76-.21,1.37,1.37,0,0,0,.44-.7l.24-.65-3.27-8.18c0-.12,0-.18.14-.18h2.33a.22.22,0,0,1,.22.18l1.76,5.09h0l1.63-5.09a.22.22,0,0,1,.22-.18h2.25c.14,0,.18.06.15.18l-3.56,9.36a7.84,7.84,0,0,1-.57,1.22,3.26,3.26,0,0,1-.67.78,2.18,2.18,0,0,1-.82.41,4.1,4.1,0,0,1-1.05.12Z'/%3E%3Cpath class='cls-4' d='M264.07,300.52a7.46,7.46,0,0,1-1.43-.14,8.48,8.48,0,0,1-1.32-.36,7,7,0,0,1-1.13-.54,5.39,5.39,0,0,1-.89-.65.21.21,0,0,1,0-.31l1.38-1.58c.07-.1.16-.11.27,0a7.66,7.66,0,0,0,1.44.88,4.08,4.08,0,0,0,1.79.39,2.37,2.37,0,0,0,1.5-.41,1.28,1.28,0,0,0,.52-1.06,1.1,1.1,0,0,0-.4-.89,3,3,0,0,0-1.51-.49l-.65-.09a5.33,5.33,0,0,1-2.9-1.16,3.25,3.25,0,0,1-1-2.55A3.7,3.7,0,0,1,260,290a3.27,3.27,0,0,1,.88-1.19,4,4,0,0,1,1.38-.77,5.73,5.73,0,0,1,1.81-.27,7.43,7.43,0,0,1,2.33.35,6.08,6.08,0,0,1,1.87.94q.17.1,0,.27l-1.1,1.66a.18.18,0,0,1-.26,0,6.22,6.22,0,0,0-1.41-.71,4.42,4.42,0,0,0-1.46-.23,1.77,1.77,0,0,0-1.24.38,1.25,1.25,0,0,0-.41,1,1.08,1.08,0,0,0,.42.87,3.11,3.11,0,0,0,1.5.49l.66.09a5.2,5.2,0,0,1,2.9,1.16,3.32,3.32,0,0,1,1,2.59,4,4,0,0,1-.31,1.55,3.38,3.38,0,0,1-.92,1.24,4.39,4.39,0,0,1-1.52.8A6.69,6.69,0,0,1,264.07,300.52Z'/%3E%3Cpath class='cls-4' d='M274.44,300.52a4.46,4.46,0,0,1-2.51-.66,3.41,3.41,0,0,1-1.38-1.85,5.76,5.76,0,0,1-.23-.91,7.91,7.91,0,0,1-.08-1.18,8.05,8.05,0,0,1,.08-1.19,5,5,0,0,1,.21-.92,3.31,3.31,0,0,1,1.38-1.84,4.82,4.82,0,0,1,4.85,0,3.44,3.44,0,0,1,1.35,1.81c.05.15.09.3.13.47s.06.34.09.55,0,.45.05.72,0,.59,0,1c0,.12-.07.18-.2.18h-5.32a.1.1,0,0,0-.11.11,1.53,1.53,0,0,0,.11.49,1.5,1.5,0,0,0,.65.87,2.13,2.13,0,0,0,1.16.29,2.91,2.91,0,0,0,1.15-.21,2.53,2.53,0,0,0,.87-.57c.11-.08.19-.08.26,0l1.19,1.13c.1.08.11.17,0,.25a4.62,4.62,0,0,1-1.58,1.08A5.62,5.62,0,0,1,274.44,300.52Zm1.34-5.53a.1.1,0,0,0,.11-.11,3.49,3.49,0,0,0,0-.35c0-.1,0-.2-.07-.3a1.26,1.26,0,0,0-.53-.71,1.72,1.72,0,0,0-.94-.25,1.69,1.69,0,0,0-.94.25,1.31,1.31,0,0,0-.53.71c0,.1-.05.2-.07.3a3.49,3.49,0,0,0,0,.35.1.1,0,0,0,.11.11Z'/%3E%3Cpath class='cls-4' d='M283.89,300.52a4.38,4.38,0,0,1-2.4-.63,3.33,3.33,0,0,1-1.4-1.86,3.92,3.92,0,0,1-.21-.91,12,12,0,0,1,0-2.4,3.92,3.92,0,0,1,.21-.91,3.33,3.33,0,0,1,1.4-1.86,4.38,4.38,0,0,1,2.4-.63,4.25,4.25,0,0,1,2,.46,3.56,3.56,0,0,1,1.32,1.19.19.19,0,0,1,0,.26l-1.58,1a.19.19,0,0,1-.28,0,1.84,1.84,0,0,0-.61-.58,1.57,1.57,0,0,0-.79-.18,1.5,1.5,0,0,0-.86.23,1.29,1.29,0,0,0-.5.71,3.37,3.37,0,0,0-.13.62c0,.23,0,.52,0,.89s0,.66,0,.89a3.56,3.56,0,0,0,.13.62,1.29,1.29,0,0,0,.5.71,1.77,1.77,0,0,0,1.65.05,2,2,0,0,0,.61-.58.19.19,0,0,1,.28,0l1.58,1a.17.17,0,0,1,0,.25,3.48,3.48,0,0,1-1.32,1.19A4.13,4.13,0,0,1,283.89,300.52Z'/%3E%3Cpath class='cls-4' d='M292.34,300.52a4.5,4.5,0,0,1-2.42-.64,3.22,3.22,0,0,1-1.4-1.84,6,6,0,0,1-.22-1,7.88,7.88,0,0,1-.07-1.15,8,8,0,0,1,.07-1.16,6.48,6.48,0,0,1,.22-1,3.2,3.2,0,0,1,1.4-1.83,4.88,4.88,0,0,1,4.83,0,3.2,3.2,0,0,1,1.4,1.83,6.48,6.48,0,0,1,.22,1,8,8,0,0,1,.07,1.16,7.88,7.88,0,0,1-.07,1.15,6,6,0,0,1-.22,1,3.22,3.22,0,0,1-1.4,1.84A4.49,4.49,0,0,1,292.34,300.52Zm0-2.15a1.29,1.29,0,0,0,1.36-.94,4.7,4.7,0,0,0,.13-.63c0-.21,0-.51,0-.88s0-.67,0-.88a4.7,4.7,0,0,0-.13-.63,1.46,1.46,0,0,0-2.73,0,3.5,3.5,0,0,0-.12.63,6.73,6.73,0,0,0,0,.88,6.83,6.83,0,0,0,0,.88,3.5,3.5,0,0,0,.12.63A1.3,1.3,0,0,0,292.34,298.37Z'/%3E%3Cpath class='cls-4' d='M303.76,300.32a.17.17,0,0,1-.18-.19v-5.05a1.88,1.88,0,0,0-.33-1.16,1.23,1.23,0,0,0-1-.44,1.27,1.27,0,0,0-1,.44,1.77,1.77,0,0,0-.36,1.16v5.05a.17.17,0,0,1-.18.19h-2.18a.17.17,0,0,1-.18-.19V291.7a.16.16,0,0,1,.18-.18h2.18a.16.16,0,0,1,.18.18v.62h0a2.46,2.46,0,0,1,.86-.71,3.07,3.07,0,0,1,1.41-.29,3.3,3.3,0,0,1,1.29.24,2.45,2.45,0,0,1,.94.67,2.86,2.86,0,0,1,.58,1,4.57,4.57,0,0,1,.19,1.32v5.54a.17.17,0,0,1-.19.19Z'/%3E%3Cpath class='cls-4' d='M313.7,300.32a.17.17,0,0,1-.18-.19v-.63h0a2.11,2.11,0,0,1-.87.73,3.58,3.58,0,0,1-3.3-.25,3,3,0,0,1-1.11-1.57,6.5,6.5,0,0,1-.24-1.08,14.34,14.34,0,0,1,0-2.83,6.61,6.61,0,0,1,.24-1.07,3,3,0,0,1,1.11-1.58,3.2,3.2,0,0,1,1.87-.53,3.28,3.28,0,0,1,1.43.28,2.2,2.2,0,0,1,.87.74h0v-4.2a.16.16,0,0,1,.18-.18h2.18c.13,0,.19.06.19.18v12a.17.17,0,0,1-.19.19ZM312,298.37a1.29,1.29,0,0,0,1.35-.94,3,3,0,0,0,.13-.59c0-.23,0-.53,0-.92s0-.69,0-.92a3,3,0,0,0-.13-.59,1.45,1.45,0,0,0-2.71,0,3,3,0,0,0-.13.59c0,.23,0,.53,0,.92s0,.69,0,.92a3,3,0,0,0,.13.59A1.29,1.29,0,0,0,312,298.37Z'/%3E%3Cpath class='cls-4' d='M326.84,300.52a7.62,7.62,0,0,1-1.43-.14,8.66,8.66,0,0,1-1.31-.36,7.07,7.07,0,0,1-1.14-.54,5.29,5.29,0,0,1-.88-.65.21.21,0,0,1,0-.31l1.38-1.58a.17.17,0,0,1,.28,0,7.56,7.56,0,0,0,1.43.88,4.13,4.13,0,0,0,1.8.39,2.41,2.41,0,0,0,1.5-.41,1.31,1.31,0,0,0,.52-1.06,1.13,1.13,0,0,0-.4-.89,3,3,0,0,0-1.51-.49l-.66-.09a5.3,5.3,0,0,1-2.89-1.16,3.22,3.22,0,0,1-1-2.55,3.7,3.7,0,0,1,.31-1.55,3.17,3.17,0,0,1,.88-1.19,4,4,0,0,1,1.38-.77,5.69,5.69,0,0,1,1.81-.27,7.32,7.32,0,0,1,2.32.35,6,6,0,0,1,1.87.94c.11.07.12.16,0,.27L330,291a.17.17,0,0,1-.25,0,6.66,6.66,0,0,0-1.41-.71,4.51,4.51,0,0,0-1.46-.23,1.75,1.75,0,0,0-1.24.38,1.23,1.23,0,0,0-.42,1,1.06,1.06,0,0,0,.43.87,3,3,0,0,0,1.5.49l.65.09a5.21,5.21,0,0,1,2.91,1.16,3.35,3.35,0,0,1,1,2.59,3.83,3.83,0,0,1-.31,1.55,3.27,3.27,0,0,1-.92,1.24,4.34,4.34,0,0,1-1.51.8A6.76,6.76,0,0,1,326.84,300.52Z'/%3E%3Cpath class='cls-4' d='M336.43,300.42a2.8,2.8,0,0,1-2.16-.7,3.29,3.29,0,0,1-.63-2.22v-4a.1.1,0,0,0-.11-.11H333a.16.16,0,0,1-.18-.18V291.7a.16.16,0,0,1,.18-.18h.55a.1.1,0,0,0,.11-.11v-2.36a.16.16,0,0,1,.18-.18H336a.16.16,0,0,1,.18.18v2.36a.1.1,0,0,0,.11.11h1.13a.16.16,0,0,1,.18.18v1.51a.16.16,0,0,1-.18.18h-1.13a.1.1,0,0,0-.11.11v3.89a1,1,0,0,0,.18.68.82.82,0,0,0,.62.19h.44a.16.16,0,0,1,.18.18v1.8a.16.16,0,0,1-.18.18Z'/%3E%3Cpath class='cls-4' d='M344.63,300.32a.17.17,0,0,1-.18-.19v-.58h0a2.38,2.38,0,0,1-.93.7,3.54,3.54,0,0,1-1.49.27,4.15,4.15,0,0,1-1.12-.16,2.57,2.57,0,0,1-.93-.48,2.35,2.35,0,0,1-.64-.84,2.81,2.81,0,0,1-.23-1.21,2.41,2.41,0,0,1,1-2.15,4.58,4.58,0,0,1,2.64-.69h1.56a.1.1,0,0,0,.11-.11v-.32a1.06,1.06,0,0,0-.37-.91,2.44,2.44,0,0,0-1.43-.29,3.65,3.65,0,0,0-1.16.16,2.72,2.72,0,0,0-.8.4c-.1.07-.18.06-.24,0l-.81-1.43a.17.17,0,0,1,0-.26,4.56,4.56,0,0,1,1.37-.63,6.7,6.7,0,0,1,1.9-.24,7.88,7.88,0,0,1,1.82.19,3.1,3.1,0,0,1,1.21.58,2.3,2.3,0,0,1,.67,1,4.33,4.33,0,0,1,.21,1.42v5.63a.17.17,0,0,1-.19.19Zm-1.86-1.71c1.1,0,1.64-.41,1.64-1.22v-.6a.1.1,0,0,0-.11-.11h-1.23c-1.05,0-1.57.33-1.57,1S341.93,298.61,342.77,298.61Z'/%3E%3Cpath class='cls-4' d='M352,300.42a2.79,2.79,0,0,1-2.16-.7,3.23,3.23,0,0,1-.64-2.22v-4a.1.1,0,0,0-.11-.11h-.54a.16.16,0,0,1-.18-.18V291.7a.16.16,0,0,1,.18-.18h.54a.1.1,0,0,0,.11-.11v-2.36a.16.16,0,0,1,.18-.18h2.17a.16.16,0,0,1,.18.18v2.36a.1.1,0,0,0,.11.11H353a.17.17,0,0,1,.19.18v1.51a.17.17,0,0,1-.19.18h-1.12a.1.1,0,0,0-.11.11v3.89a1,1,0,0,0,.18.68.82.82,0,0,0,.62.19H353a.17.17,0,0,1,.19.18v1.8a.17.17,0,0,1-.19.18Z'/%3E%3Cpath class='cls-4' d='M358.84,300.52a4.44,4.44,0,0,1-2.51-.66A3.32,3.32,0,0,1,355,298a5.76,5.76,0,0,1-.23-.91,7.91,7.91,0,0,1-.08-1.18,8.19,8.19,0,0,1,.07-1.19,5,5,0,0,1,.22-.92A3.29,3.29,0,0,1,356.3,292a4.31,4.31,0,0,1,2.41-.65,4.23,4.23,0,0,1,2.44.66,3.41,3.41,0,0,1,1.36,1.81,3.23,3.23,0,0,1,.12.47,3.71,3.71,0,0,1,.09.55,7,7,0,0,1,.06.72c0,.27,0,.59,0,1,0,.12-.07.18-.2.18h-5.33a.1.1,0,0,0-.11.11,1.85,1.85,0,0,0,.11.49,1.47,1.47,0,0,0,.66.87,2.1,2.1,0,0,0,1.16.29,2.91,2.91,0,0,0,1.15-.21,2.73,2.73,0,0,0,.87-.57c.11-.08.19-.08.25,0l1.2,1.13a.15.15,0,0,1,0,.25,4.62,4.62,0,0,1-1.58,1.08A5.62,5.62,0,0,1,358.84,300.52Zm1.34-5.53a.1.1,0,0,0,.11-.11,1.83,1.83,0,0,0,0-.35l-.06-.3a1.33,1.33,0,0,0-.54-.71,1.87,1.87,0,0,0-1.87,0,1.26,1.26,0,0,0-.53.71c0,.1-.05.2-.07.3a1.83,1.83,0,0,0,0,.35.1.1,0,0,0,.11.11Z'/%3E%3Cpolygon class='cls-4' points='208.38 287.76 199.75 287.76 203.89 306.22 190.72 287.76 182.09 287.76 190.92 327.16 199.55 327.16 195.41 308.71 208.59 327.16 217.22 327.16 213.08 308.71 226.25 327.16 231.14 327.16 236.5 327.16 208.38 287.76'/%3E%3Cpolygon class='cls-4' points='114.13 287.76 109.61 307.91 105.09 287.76 96.46 287.76 91.95 307.91 87.43 287.76 78.8 287.76 87.63 327.16 96.26 327.16 100.78 307.01 105.3 327.16 113.92 327.16 122.76 287.76 114.13 287.76'/%3E%3Cpolygon class='cls-4' points='131.59 287.76 122.76 327.16 131.39 327.16 135.9 307.01 140.42 327.16 149.05 327.16 140.22 287.76 131.59 287.76'/%3E%3Cpath class='cls-4' d='M170.06,303.11h-5.47a3.33,3.33,0,1,1,0-6.65h10.69v-8.7H164.59a12,12,0,1,0,0,24.05h5.47a3.33,3.33,0,1,1,0,6.65H155.93l1.95,8.7h12.18a12,12,0,1,0,0-24.05Z'/%3E%3C/svg%3E");
}

section.game img {
  margin-top: 50px;
}

.banner {
  flex-grow: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  margin-bottom: 10px;
  opacity: 0;
  font-size: 30px;
}

h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.sub-title {
  opacity: 0;
}

.explanation {
  color: #a7a7a7;
  margin-bottom: 20px;
}

.lottery-prize {
  margin-top: 20px;
}

#lottery_email {
  display: block;
  margin: -20px 0 20px;
  border: 0;
  border-radius: 4px;
  width: 200px;
  background-color: #fff;
  line-height: 30px;
  text-align: center;
  box-shadow: 0px 0px 6px 0px #afafaf;
  outline: none;
}

section.game .explanation {
  color: #b3b3b3;
}

.actions {
  margin-top: 20px;
}

#select_file {
  display: none;
}

.note {
  margin-top: 30px;
  font-size: 0.8em;
}

.note a {
  text-decoration: underline;
}

.loves {
  flex-grow: 1;
  text-align: center;
  opacity: 0;
}

.external {
  opacity: 0;
  font-size: 0.8em;
}

.show h1, .show .sub-title, .show .loves, .show .external {
  opacity: 1;
}
.first-screen.show {
}

li .prize {
  color: #a7a7a7;
}

.loves a {
  color: #fff;
  text-decoration: none;
}
.loves .heart {
  padding: 0 10px;
}

.external2 {
  font-size: 0.8em;
  margin-top: 20px;
}

#msg {
  margin-top: 10px;
}

section.footer {
  padding: 20px 20px;
  background-color: #213359;
  background-image: none;
}

section.footer .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 650px;
}

section.footer img {
  width: 60px;
}

section.footer .links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

section.footer .links a {
  margin-bottom: 10px;
  font-size: 0.8em;
}

.second-state {
  padding: 7px 0 7px 55px;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 255.59 322.04'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23ffffff;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M116.65,44.1c43.17-30.24,83.22-29.19,122-28.18,5.52.15,11.23.3,16.83.35L255.59.73c-5.47,0-11.12-.2-16.58-.34-41.24-1.08-83.91-2.2-131.28,31C81,50.12,61.05,78.46,50.17,113.31,42,139.48,41.73,160,41.73,160.88l15.54.14C57.27,160.26,58.77,84.64,116.65,44.1Z'/%3E%3Cpath class='cls-1' d='M131.17,61.77c-43.54,30.63-50,75.28-50,99.17H96.67c0-20.88,5.65-59.87,43.44-86.47,31.34-22,68.9-21.12,102-20.31,4.62.12,9,.22,13.29.27l.16-15.54c-4.2,0-8.51-.15-13.07-.26C208.75,37.8,166.7,36.76,131.17,61.77Z'/%3E%3Cpath class='cls-1' d='M154,93.61c-29.55,20.79-34,51.06-34,67.29h0c0,13.2-3.56,37.84-27.4,54.62-20.2,14.21-60.18,13.35-84.06,12.84-3.05-.07-5.87-.13-8.4-.15L0,243.75c2.48,0,5.24.08,8.22.14,5,.11,10.71.24,16.78.24,25.12,0,56.94-2.09,76.56-15.9,29.56-20.8,34-51.06,34-67.29h0c0-13.2,3.56-37.85,27.41-54.63,20.19-14.2,60.16-13.34,84-12.83,3.05.07,5.87.12,8.4.15l.16-15.54c-2.48,0-5.24-.08-8.22-.15C221.58,77.39,178.41,76.46,154,93.61Z'/%3E%3Cpath class='cls-1' d='M139,277.74C95.78,308,55.73,306.93,17,305.92c-5.53-.15-11.24-.3-16.84-.35L0,321.11c5.47.05,11.12.2,16.58.34,7.36.19,14.77.39,22.24.39,34.39,0,70.13-4.11,109-31.37,26.77-18.76,46.68-47.09,57.56-81.94,8.17-26.17,8.44-46.71,8.44-47.57l-15.54-.14C198.33,161.58,196.83,237.2,139,277.74Z'/%3E%3Cpath class='cls-1' d='M32.67,283.53c29.59,0,62.84-3.1,91.76-23.46,43.54-30.63,50-75.28,50-99.17H158.93c0,20.87-5.64,59.87-43.44,86.46-31.34,22.05-68.9,21.13-102,20.32-4.62-.12-9-.23-13.29-.27L0,283c4.2,0,8.51.15,13.07.26C19.35,283.37,25.91,283.53,32.67,283.53Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.rust-conf {
  padding: 7px 0 7px 63px;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='300' height='300' viewBox='0 0 300 300' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M148.8 6.07415C149.346 5.17168 150.654 5.17169 151.2 6.07415L157.651 16.7511C157.751 16.9166 157.857 17.0771 157.97 17.2322L158.705 18.2468L159.954 18.34C161.961 18.4895 163.955 18.6839 165.935 18.922L167.18 19.0717L168.097 18.2177C168.233 18.091 168.365 17.9579 168.492 17.8187L176.902 8.60558C177.613 7.82683 178.897 8.0822 179.255 9.0737L183.499 20.804C183.558 20.967 183.623 21.1269 183.693 21.2835L184.212 22.4392L185.433 22.7784C187.382 23.3199 189.312 23.9051 191.224 24.5327L192.427 24.9279L193.5 24.2543C193.644 24.1641 193.785 24.068 193.924 23.9661L203.97 16.5707C204.819 15.9456 206.028 16.4466 206.186 17.489L208.061 29.822C208.087 29.9969 208.12 30.1699 208.16 30.3408L208.444 31.5702L209.57 32.1404C211.368 33.0508 213.142 34.0012 214.891 34.9904L215.989 35.6115L217.17 35.1667C217.338 35.1036 217.504 35.0337 217.668 34.9569L228.963 29.6635C229.918 29.216 231.007 29.9433 230.958 30.9966L230.391 43.4581C230.382 43.6519 230.381 43.8448 230.388 44.0363L230.436 45.2853L231.42 46.0567C232.994 47.2917 234.539 48.5616 236.055 49.8654L237.003 50.6805L238.237 50.4849C238.429 50.4545 238.62 50.4158 238.811 50.3687L250.923 47.3807C251.946 47.1281 252.872 48.0537 252.619 49.0774L249.631 61.1887C249.584 61.3796 249.546 61.5711 249.515 61.7625L249.319 62.9972L250.135 63.9449C251.438 65.4606 252.708 67.0061 253.943 68.5805L254.715 69.564L255.964 69.6116C256.155 69.6189 256.348 69.6182 256.542 69.6094L269.003 69.0415C270.057 68.9935 270.784 70.0819 270.337 71.0367L265.043 82.3323C264.966 82.4964 264.896 82.6622 264.833 82.8293L264.388 84.0104L265.01 85.109C265.999 86.8583 266.949 88.6324 267.86 90.4301L268.43 91.5559L269.659 91.8401C269.83 91.8796 270.003 91.9127 270.178 91.9393L282.511 93.8135C283.553 93.9719 284.054 95.1813 283.429 96.0304L276.034 106.076C275.932 106.214 275.836 106.356 275.746 106.5L275.072 107.573L275.467 108.776C276.095 110.688 276.68 112.618 277.222 114.567L277.561 115.788L278.717 116.307C278.873 116.377 279.033 116.442 279.196 116.501L290.926 120.745C291.918 121.103 292.173 122.387 291.394 123.098L282.181 131.508C282.042 131.635 281.909 131.767 281.782 131.903L280.928 132.82L281.078 134.065C281.316 136.045 281.51 138.039 281.66 140.046L281.753 141.295L282.768 142.03C282.923 142.143 283.083 142.249 283.249 142.349L293.926 148.8C294.828 149.345 294.828 150.654 293.926 151.2L283.249 157.651C283.083 157.751 282.923 157.857 282.768 157.97L281.753 158.705L281.66 159.954C281.51 161.961 281.316 163.955 281.078 165.935L280.928 167.18L281.782 168.097C281.909 168.233 282.042 168.365 282.181 168.492L291.394 176.902C292.173 177.613 291.918 178.897 290.926 179.255L279.196 183.499C279.164 183.511 279.132 183.523 279.1 183.535L279.06 183.55L279.012 183.569C278.964 183.588 278.916 183.607 278.869 183.627C278.846 183.637 278.822 183.647 278.798 183.657L278.762 183.673L278.715 183.694L277.561 184.213L277.222 185.433C276.68 187.382 276.095 189.312 275.467 191.224L275.072 192.427L275.746 193.5C275.836 193.644 275.932 193.786 276.034 193.924L283.429 203.97C284.054 204.819 283.553 206.028 282.511 206.186L270.178 208.061C270.074 208.076 269.971 208.094 269.869 208.115C269.799 208.129 269.729 208.144 269.659 208.16L268.43 208.444L267.86 209.57C266.949 211.368 265.999 213.142 265.01 214.891L264.388 215.99L264.833 217.171C264.896 217.338 264.966 217.504 265.043 217.668L270.337 228.963C270.784 229.918 270.057 231.007 269.003 230.958L256.542 230.391C256.348 230.382 256.155 230.381 255.964 230.388L254.715 230.436L253.943 231.42C252.708 232.994 251.438 234.539 250.135 236.055L249.319 237.003L249.515 238.237C249.546 238.429 249.584 238.62 249.631 238.811L252.619 250.923C252.872 251.946 251.946 252.872 250.923 252.619L238.811 249.631C238.62 249.584 238.429 249.545 238.237 249.515L237.003 249.319L236.055 250.135C234.539 251.438 232.994 252.708 231.42 253.943L230.436 254.715L230.388 255.964C230.381 256.155 230.382 256.348 230.391 256.542L230.958 269.003C231.007 270.057 229.918 270.784 228.963 270.337L217.668 265.043C217.504 264.966 217.338 264.896 217.171 264.833L215.99 264.388L214.891 265.01C213.142 265.999 211.368 266.949 209.57 267.86L208.444 268.43L208.16 269.659C208.139 269.751 208.119 269.843 208.102 269.935C208.087 270.016 208.073 270.097 208.061 270.178L206.186 282.511C206.028 283.553 204.819 284.054 203.97 283.429L193.923 276.034C193.786 275.932 193.644 275.836 193.5 275.746L192.427 275.072L191.224 275.467C189.312 276.095 187.382 276.68 185.433 277.222L184.212 277.561L183.693 278.716C183.68 278.746 183.667 278.777 183.653 278.808C183.644 278.828 183.636 278.849 183.627 278.87C183.582 278.977 183.539 279.086 183.499 279.196L179.255 290.926C178.897 291.918 177.613 292.173 176.902 291.394L168.492 282.181C168.365 282.042 168.233 281.909 168.097 281.782L167.18 280.928L165.935 281.078C163.955 281.316 161.961 281.51 159.954 281.66L158.705 281.753L157.97 282.768C157.857 282.923 157.751 283.083 157.651 283.249L151.2 293.926C150.654 294.828 149.346 294.828 148.8 293.926L142.349 283.249C142.249 283.083 142.142 282.923 142.03 282.768L141.295 281.753L140.046 281.66C138.039 281.51 136.045 281.316 134.065 281.078L132.82 280.928L131.903 281.782C131.767 281.909 131.635 282.042 131.508 282.181L123.098 291.394C122.387 292.173 121.103 291.918 120.745 290.926L116.501 279.196C116.442 279.033 116.377 278.873 116.307 278.717L115.788 277.561L114.567 277.222C112.618 276.68 110.688 276.095 108.776 275.467L107.573 275.072L106.5 275.746C106.356 275.836 106.214 275.932 106.076 276.034L96.0304 283.429C95.1813 284.054 93.9719 283.553 93.8135 282.511L91.9393 270.178C91.9127 270.003 91.8796 269.83 91.8401 269.659L91.5559 268.43L90.4301 267.86C88.6324 266.949 86.8583 265.999 85.109 265.01L84.0104 264.388L82.8293 264.833C82.6623 264.896 82.4963 264.966 82.3321 265.043L71.0367 270.337C70.0819 270.784 68.9935 270.057 69.0415 269.003L69.6094 256.542C69.6182 256.348 69.6189 256.155 69.6116 255.964L69.564 254.715L68.5805 253.943C67.0062 252.708 65.4606 251.438 63.9449 250.135L62.9972 249.319L61.7626 249.515C61.5711 249.546 61.3796 249.584 61.1887 249.631L49.0774 252.619C48.0537 252.872 47.1281 251.946 47.3807 250.923L50.3687 238.811C50.4158 238.62 50.4545 238.429 50.4849 238.237L50.6805 237.003L49.8654 236.055C48.5616 234.539 47.2917 232.994 46.0567 231.42L45.2853 230.436L44.0363 230.388C43.8448 230.381 43.6519 230.382 43.458 230.391L30.9966 230.958C29.9433 231.007 29.216 229.918 29.6635 228.963L34.9569 217.668C35.0337 217.504 35.1037 217.338 35.1667 217.17L35.6115 215.989L34.9904 214.891C34.0012 213.142 33.0508 211.368 32.1404 209.57L31.5702 208.444L30.3408 208.16C30.1702 208.12 29.9972 208.087 29.822 208.061L17.489 206.186C16.4466 206.028 15.9456 204.819 16.5707 203.97L23.9661 193.924C24.068 193.785 24.1641 193.644 24.2543 193.5L24.9279 192.427L24.5327 191.224C23.9051 189.312 23.3199 187.382 22.7784 185.433L22.4392 184.212L21.2835 183.693C21.1269 183.623 20.9669 183.558 20.804 183.499L9.0737 179.255C8.0822 178.897 7.82683 177.613 8.60558 176.902L17.8188 168.492C17.9579 168.365 18.0909 168.233 18.2179 168.097L19.0717 167.179L18.9221 165.935C18.6839 163.955 18.4895 161.961 18.34 159.954L18.2468 158.705L17.2322 157.97C17.0772 157.857 16.9166 157.751 16.751 157.651L6.07415 151.2C5.17169 150.654 5.17168 149.345 6.07415 148.8L16.751 142.349C16.9169 142.249 17.0773 142.143 17.2321 142.03L18.2468 141.295L18.34 140.046C18.4895 138.039 18.6839 136.045 18.9221 134.065L19.0717 132.82L18.2178 131.903C18.091 131.767 17.958 131.635 17.8187 131.508L8.60558 123.098C7.82683 122.387 8.0822 121.103 9.07371 120.745L20.804 116.501C20.9671 116.441 21.127 116.377 21.2833 116.307L22.4391 115.788L22.7784 114.567C23.3199 112.618 23.9051 110.688 24.5327 108.776L24.9279 107.573L24.2544 106.5C24.1641 106.356 24.0679 106.215 23.9661 106.076L16.5707 96.0304C15.9456 95.1813 16.4465 93.9719 17.489 93.8135L29.8218 91.9393C29.9969 91.9127 30.17 91.8796 30.3408 91.8401L31.5702 91.5559L32.1404 90.4301C33.0508 88.6324 34.0012 86.8583 34.9904 85.109L35.6115 84.0105L35.1667 82.8295C35.1037 82.6621 35.0337 82.4962 34.9569 82.3323L29.6635 71.0367C29.216 70.0819 29.9433 68.9935 30.9966 69.0415L43.4581 69.6094C43.652 69.6182 43.8448 69.6189 44.0361 69.6116L45.2852 69.564L46.0567 68.5805C47.2917 67.0062 48.5616 65.4606 49.8654 63.9449L50.6805 62.9973L50.4849 61.7627C50.4545 61.571 50.4158 61.3796 50.3687 61.1887L47.3807 49.0774C47.1281 48.0537 48.0537 47.1281 49.0774 47.3807L61.1887 50.3687C61.3796 50.4158 61.571 50.4545 61.7627 50.4849L62.9973 50.6805L63.9449 49.8654C65.4606 48.5616 67.0062 47.2917 68.5805 46.0567L69.564 45.2852L69.6116 44.0361C69.6189 43.8448 69.6182 43.652 69.6094 43.4581L69.0415 30.9966C68.9935 29.9433 70.0819 29.216 71.0367 29.6635L82.3323 34.9569C82.4963 35.0338 82.6621 35.1037 82.8295 35.1667L84.0105 35.6115L85.109 34.9904C86.8583 34.0012 88.6324 33.0508 90.4301 32.1404L91.5559 31.5702L91.8401 30.3408C91.8796 30.17 91.9127 29.997 91.9393 29.8218L93.8135 17.489C93.9719 16.4465 95.1813 15.9456 96.0304 16.5707L106.076 23.9661C106.215 24.068 106.356 24.1641 106.5 24.2544L107.573 24.9279L108.776 24.5327C110.688 23.9051 112.618 23.3199 114.567 22.7784L115.788 22.4391L116.307 21.2833C116.377 21.127 116.442 20.9671 116.501 20.804L120.745 9.07371C121.103 8.0822 122.387 7.82684 123.098 8.60558L131.508 17.8188C131.635 17.9579 131.767 18.091 131.903 18.2178L132.82 19.0717L134.065 18.922C136.045 18.6839 138.039 18.4895 140.046 18.34L141.295 18.2468L142.03 17.2321C142.143 17.0773 142.249 16.9169 142.349 16.751L148.8 6.07415ZM155.819 3.28297C153.174 -1.09433 146.825 -1.09432 144.181 3.28297L138.269 13.067C137.104 13.1654 135.944 13.2784 134.788 13.4058L127.084 4.9668C123.636 1.18959 117.409 2.42823 115.669 7.23738L111.792 17.9551C110.658 18.2827 109.529 18.6245 108.408 18.9803L99.2302 12.2242C95.1116 9.19221 89.2459 11.6219 88.4775 16.6781L86.7638 27.955C85.7209 28.4964 84.6858 29.0508 83.6588 29.618L73.327 24.7762C68.696 22.606 63.417 26.1333 63.6498 31.2423L64.1703 42.6652C63.2622 43.3923 62.3635 44.1306 61.4745 44.8801L50.3703 42.1405C45.4049 40.9155 40.9155 45.4049 42.1405 50.3703L44.8801 61.4745C44.1307 62.3635 43.3923 63.2622 42.6652 64.1703L31.2423 63.6498C26.1333 63.417 22.606 68.696 24.7762 73.327L29.618 83.6588C29.0508 84.6858 28.4964 85.7209 27.955 86.7638L16.6781 88.4775C11.6219 89.2458 9.19222 95.1115 12.2242 99.2302L18.9803 108.408C18.6245 109.529 18.2827 110.658 17.9551 111.792L7.23738 115.669C2.42822 117.409 1.1896 123.636 4.9668 127.084L13.4058 134.788C13.2784 135.944 13.1654 137.104 13.067 138.269L3.28297 144.181C-1.09432 146.825 -1.09433 153.174 3.28297 155.819L13.067 161.731C13.1654 162.895 13.2784 164.056 13.4058 165.212L4.96679 172.916C1.1896 176.364 2.42822 182.591 7.23738 184.331L17.9551 188.208C18.2827 189.342 18.6245 190.471 18.9803 191.592L12.2242 200.77C9.19223 204.888 11.6219 210.754 16.6781 211.523L27.955 213.236C28.4964 214.279 29.0508 215.314 29.618 216.341L24.7762 226.673C22.606 231.304 26.1333 236.583 31.2423 236.35L42.6652 235.83C43.3923 236.738 44.1307 237.636 44.8801 238.526L42.1405 249.63C40.9155 254.595 45.4049 259.084 50.3703 257.859L61.4745 255.12C62.3635 255.869 63.2622 256.608 64.1703 257.335L63.6498 268.758C63.417 273.867 68.696 277.394 73.327 275.224L83.6588 270.382C84.6858 270.949 85.7209 271.504 86.7638 272.045L88.4775 283.322C89.2459 288.378 95.1116 290.808 99.2302 287.776L108.408 281.02C109.529 281.375 110.658 281.717 111.792 282.045L115.669 292.763C117.409 297.572 123.636 298.81 127.084 295.033L134.788 286.594C135.944 286.722 137.104 286.835 138.269 286.933L144.181 296.717C146.825 301.094 153.174 301.094 155.819 296.717L161.731 286.933C162.896 286.835 164.056 286.722 165.212 286.594L172.916 295.033C176.364 298.81 182.591 297.572 184.331 292.763L188.208 282.045C189.342 281.717 190.471 281.375 191.592 281.02L200.77 287.776C204.888 290.808 210.754 288.378 211.523 283.322L213.236 272.045C214.279 271.504 215.314 270.949 216.341 270.382L226.673 275.224C231.304 277.394 236.583 273.867 236.35 268.758L235.83 257.335C236.738 256.608 237.636 255.869 238.526 255.12L249.63 257.859C254.595 259.084 259.085 254.595 257.859 249.63L255.12 238.526C255.869 237.636 256.608 236.738 257.335 235.83L268.758 236.35C273.867 236.583 277.394 231.304 275.224 226.673L270.382 216.341C270.949 215.314 271.504 214.279 272.045 213.236L283.322 211.523C288.378 210.754 290.808 204.888 287.776 200.77L281.02 191.592C281.375 190.471 281.717 189.342 282.045 188.208L292.763 184.331C297.572 182.591 298.81 176.364 295.033 172.916L286.594 165.212C286.722 164.056 286.835 162.896 286.933 161.731L296.717 155.819C301.094 153.174 301.094 146.825 296.717 144.181L286.933 138.269C286.835 137.104 286.722 135.944 286.594 134.788L295.033 127.084C298.81 123.636 297.572 117.409 292.763 115.669L282.045 111.792C281.717 110.658 281.375 109.529 281.02 108.408L287.776 99.2302C290.808 95.1116 288.378 89.2458 283.322 88.4775L272.045 86.7638C271.504 85.7209 270.949 84.6858 270.382 83.6588L275.224 73.327C277.394 68.696 273.867 63.417 268.758 63.6498L257.335 64.1703C256.608 63.2622 255.869 62.3635 255.12 61.4745L257.859 50.3703C259.085 45.4049 254.595 40.9155 249.63 42.1405L238.526 44.8801C237.636 44.1307 236.738 43.3923 235.83 42.6652L236.35 31.2423C236.583 26.1333 231.304 22.606 226.673 24.7762L216.341 29.618C215.314 29.0508 214.279 28.4964 213.236 27.955L211.523 16.6781C210.754 11.6219 204.888 9.19223 200.77 12.2242L191.592 18.9803C190.471 18.6245 189.342 18.2827 188.208 17.9551L184.331 7.23738C182.591 2.42822 176.364 1.1896 172.916 4.9668L165.212 13.4058C164.056 13.2784 162.896 13.1654 161.731 13.067L155.819 3.28297ZM168.125 39.2088L169.507 39.4511C204.339 45.5561 233.634 67.7143 249.496 98.0089L250.111 99.1828L241.398 118.151C240.13 120.912 241.34 124.179 244.102 125.447L261.001 133.209L261.201 134.678C261.885 139.689 262.239 144.804 262.239 150C262.239 177.53 252.324 202.749 235.875 222.274L235.873 222.273L235.818 222.34C235.775 222.393 235.732 222.446 235.688 222.499C235.624 222.577 235.56 222.655 235.496 222.732C235.445 222.793 235.394 222.854 235.343 222.914C234.075 224.417 232.701 225.828 231.231 227.135C222.133 236.719 209.263 242.7 195 242.7C186.653 242.7 178.776 240.65 171.854 237.024C171.814 237.003 171.775 236.982 171.737 236.96C171.706 236.941 171.676 236.923 171.646 236.903C165.225 233.428 157.851 231.45 150 231.45C142.49 231.45 135.418 233.26 129.198 236.458C122.027 240.436 113.774 242.7 105.001 242.7C90.7384 242.7 77.869 236.719 68.7708 227.136C67.6019 226.096 66.4931 224.991 65.4501 223.826C65.0967 223.431 64.7508 223.029 64.4127 222.621C64.3684 222.567 64.3265 222.512 64.2869 222.457L64.282 222.46C47.7391 202.909 37.7615 177.617 37.7615 150C37.7615 145.155 38.0686 140.381 38.6647 135.695L38.8336 134.368L57.4044 123.646C60.036 122.127 60.9377 118.762 59.4183 116.13L49.7687 99.4164L50.4554 98.1019C66.2925 67.7858 95.5751 45.6006 130.403 39.4669L131.786 39.2233L146.058 53.4948C148.206 55.6435 151.69 55.6435 153.839 53.4948L168.125 39.2088ZM212.25 231.05C209.603 231.68 206.841 232.013 204 232.013C195.364 232.013 187.454 228.934 181.298 223.81C181.132 223.672 180.954 223.556 180.769 223.464C180.03 222.864 179.274 222.284 178.5 221.727V211.607L212.25 196.096V231.05ZM217.5 229.358V187.905L209.202 191.719L207.757 181.125H235.5V214.08C234.463 215.461 233.393 216.817 232.292 218.145C232.1 218.284 231.923 218.45 231.767 218.642L231.756 218.656L231.458 219.024L231.452 219.031L231.367 219.134L231.318 219.193L231.275 219.245C231.236 219.291 231.197 219.338 231.158 219.384C230.274 220.432 229.331 221.428 228.333 222.367C228.221 222.456 228.115 222.554 228.015 222.662C224.955 225.473 221.402 227.753 217.5 229.358ZM240.75 206.415C250.95 190.043 256.841 170.711 256.841 150C256.841 145.554 256.57 141.173 256.043 136.872L241.849 130.352C236.379 127.84 233.981 121.368 236.494 115.898L244.095 99.3478C229.07 71.495 202.041 51.0776 169.949 45.0175L157.656 57.3112C156.312 58.655 154.704 59.5745 153 60.0698V81.8383L161.009 95.96L169.5 118.51V216.601C170.779 217.159 172.03 217.77 173.25 218.432V208.242L182.25 204.106V135.062C182.25 125.685 186.249 116.754 193.244 110.508C193.971 109.859 194.913 109.499 195.889 109.499H205.953C206.985 109.323 208.071 109.556 208.959 110.197C217.62 116.452 222.75 126.485 222.75 137.168V175.875H240.75V206.415ZM217.5 175.875H201.743L204.216 194.01L195.75 197.901V137.168C195.75 128.48 199.779 120.301 206.625 115.006C213.471 120.301 217.5 128.48 217.5 137.168V175.875ZM190.5 200.314V137.168C190.5 128.794 193.653 120.818 199.187 114.749H196.383C190.725 119.981 187.5 127.342 187.5 135.062V201.693L190.5 200.314ZM164.25 214.663V121.613H136.5V214.441C140.788 213.21 145.318 212.55 150 212.55C154.956 212.55 159.741 213.289 164.25 214.663ZM131.25 216.281V118.51L139.741 95.96L147.75 81.8383V60.2808C145.731 59.8671 143.807 58.8773 142.241 57.3112L129.964 45.0339C97.93 51.1107 70.9496 71.4953 55.932 99.297L64.0925 113.431C67.1023 118.644 65.3161 125.31 60.103 128.32L43.859 137.699C43.3965 141.734 43.1588 145.839 43.1588 150C43.1588 174.042 51.0975 196.226 64.5 214.08V158.625V150.75V148.125H67.125H68.8033V141.75V139.125H71.4283H73.5369V121.5H78.7869V139.125H80.8955H83.5205V141.75V148.125H85.1988H87.8238V150.75V155.25H95.6248V150.75V148.125H98.2498H99.9281V141.75V139.125H102.553H104.662V121.5H109.912V139.125H112.02H114.645V141.75V148.125H116.324H118.949V150.75V158.497V203.906L126.75 207.492V218.432C128.207 217.641 129.708 216.923 131.25 216.281ZM121.5 221.727V210.857L87.75 195.346V196.5V231.05C90.3975 231.68 93.16 232.013 96.0005 232.013C104.188 232.013 111.721 229.245 117.727 224.594C117.783 224.55 117.839 224.506 117.895 224.462C117.965 224.407 118.035 224.353 118.104 224.297C118.264 224.17 118.433 224.064 118.609 223.978L118.639 223.952C119.564 223.176 120.518 222.434 121.5 221.727ZM82.5 229.357V196.5V187.155V166.875H100.875V195.6L113.699 201.494V158.497V153.375H112.02H109.395V150.75V144.375H107.287H105.178V150.75V153.375H102.553H100.875V157.875V160.5H98.25H85.1988H82.5738V157.875V153.375H80.8955H78.2705V150.75V144.375H76.1619H74.0533V150.75V153.375H71.4283H69.75V158.625V220.418C73.2616 224.27 77.6067 227.345 82.5 229.357ZM150 217.95C160.513 217.95 170.147 221.683 177.66 227.897C177.669 227.906 177.678 227.915 177.688 227.924C177.697 227.932 177.706 227.94 177.715 227.949C177.741 227.972 177.768 227.995 177.795 228.018C183.619 232.865 190.81 236.129 198.702 237.148C197.482 237.249 196.247 237.3 195 237.3C187.66 237.3 180.741 235.527 174.641 232.387C167.35 228.35 158.942 226.05 150 226.05C141.746 226.05 133.947 228.009 127.062 231.486C126.966 231.526 126.872 231.572 126.779 231.624L126.702 231.667L126.649 231.697C126.245 231.905 125.844 232.119 125.447 232.338C125.433 232.345 125.42 232.353 125.406 232.361C125.394 232.368 125.383 232.374 125.371 232.381C119.269 235.525 112.346 237.3 105.001 237.3C103.754 237.3 102.519 237.249 101.298 237.148C108.689 236.194 115.466 233.27 121.08 228.922C121.226 228.809 121.37 228.695 121.515 228.58C121.621 228.496 121.719 228.405 121.81 228.308C121.913 228.243 122.013 228.17 122.109 228.09C129.655 221.76 139.379 217.95 150 217.95ZM144.303 34.4821C144.303 31.3771 146.82 28.8599 149.925 28.8599C153.03 28.8599 155.547 31.3771 155.547 34.4821C155.547 37.5872 153.03 40.1043 149.925 40.1043C146.82 40.1043 144.303 37.5872 144.303 34.4821ZM149.925 23.6125C143.922 23.6125 139.055 28.479 139.055 34.4821C139.055 40.4852 143.922 45.3517 149.925 45.3517C155.928 45.3517 160.795 40.4852 160.795 34.4821C160.795 28.479 155.928 23.6125 149.925 23.6125ZM35.6063 116.192C35.6063 113.087 38.1234 110.57 41.2285 110.57C44.3335 110.57 46.8506 113.087 46.8506 116.192C46.8506 119.297 44.3335 121.814 41.2285 121.814C38.1234 121.814 35.6063 119.297 35.6063 116.192ZM41.2285 105.322C35.2254 105.322 30.3589 110.189 30.3589 116.192C30.3589 122.195 35.2254 127.061 41.2285 127.061C47.2315 127.061 52.098 122.195 52.098 116.192C52.098 110.189 47.2315 105.322 41.2285 105.322ZM261.619 110.57C258.514 110.57 255.997 113.087 255.997 116.192C255.997 119.297 258.514 121.814 261.619 121.814C264.724 121.814 267.242 119.297 267.242 116.192C267.242 113.087 264.724 110.57 261.619 110.57ZM250.75 116.192C250.75 110.189 255.616 105.322 261.619 105.322C267.622 105.322 272.489 110.189 272.489 116.192C272.489 122.195 267.622 127.061 261.619 127.061C255.616 127.061 250.75 122.195 250.75 116.192ZM163.082 116.363L156.808 99.7018H143.942L137.668 116.363H163.082ZM150.375 87.8517L146.632 94.4518H154.118L150.375 87.8517ZM95.625 193.187L87.75 189.568V172.125H95.625V193.187ZM201.375 139.875H211.875V134.625H201.375V139.875ZM211.875 151.125H201.375V145.875H211.875V151.125ZM201.375 162.375H211.875V157.125H201.375V162.375ZM142.125 132.75V202.5H147.375V132.75H142.125ZM153.375 202.5V132.75H158.625V202.5H153.375Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.handshake {
  padding: 0 10px;
}

@media only screen and (max-width: 650px) {
  body {
    font-size: 16px;
  }
  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
  }
  section.footer .footer-content {
    width: 100%;
  }

  header {
    left: 0;
    right: 0;
    width: 100%;
    margin-left: 0;
  }
}
